/* variables */
:root {
    --HEADER-BGCOLOR: #35424A;
    --HEADER-COLOR: #E8491D;
    /* --RED: rgb(158, 13, 13); */
    --HOVER-YELLOW:  yellow;
    --TOGGLE-COLOR:  rgb(255, 255, 255);
}
/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Nanito', sans-serif;
    background-color:  #F4F4F4;     
    min-height: 100vh;    
}

.container{
    max-width: 80%;
    margin: 0 auto;
}


h1{
    line-height: 2.4rem;  
}

p{
    line-height: 1.6rem;  
}

 /* styling the general header giveing it color and a border bottom */
header{
    background-color: var(--HEADER-BGCOLOR);
    border-bottom: 3px solid var(--HEADER-COLOR);
    color: var(--TOGGLE-COLOR);
}

/* create a space at the top of the page and aligning the text to the centet */
.top-box {
    padding-top: 29px;    
    text-align: center;
}

/* styling the h1 in the header */
header h1 {
    font-size: 2rem;
}
.Acme {
    color:var(--HEADER-COLOR);
    font-size: 2rem;
}

/* styling the nav bar */
nav{
    padding: 17px 19px 20px;
}

nav li{
    padding: 0.2rem 1rem 0.2rem;
    list-style-type: none;
    display: inline-block;

}
nav a{
    display: block;
    text-align: center;  
    text-decoration: none;
    color: whitesmoke;
}

/* styling the links on hover, focus and active */
nav a:focus, a:hover{
    color: rgb(204, 204, 204);
    font-weight: bolder;
}


nav li:nth-child(2):hover{
    /* making the nav bar increase in width when the second item on the list is hovered on */
    width: 20%;
    text-align: center;
}

.active{
    color: var(--HEADER-COLOR);
    font-weight:bolder ;
}

header:hover{
    color: yellow;
    .royal{
        color:var(--TOGGLE-COLOR);
    }
}

/* styling banner */
.banner{
    background-image: url(resources/banner\ background.jpg);
    background-size: cover;
    min-height: fit-content;
    text-align: center;
    color: var(--TOGGLE-COLOR);
    font-family: 'Nanito', sans-serif;
    
}
.overlay{
    background-color: rgba(0,0,0,0.7);
    min-height: fit-content;
    /* height: 300px; */
    padding-top: 50px 0 ;
}
.banner h1{
    font-weight: bolder;
    font-size: 55px;
    padding: 2.9rem 0 1rem;
    line-height: 5rem;
}
.banner p {
    padding: 20px 5px 30px;
    font-size: 20px;  
}


/* styling newslater */
.New_section {
    background-color: var(--HEADER-BGCOLOR);
}
.newslatter {    
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.5fr));
    grid-column-gap: 6px;
    justify-content: center; 
    align-content: center;
    padding-top: 20px ;
}

/* sthing the h1 in the newslater  */
.newslatter h1{
    color: var(--TOGGLE-COLOR);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 0  10px;
    width: 100%;
    line-height: 6vh;
}

/* making the form in the newslatter start from the right */
.newslatter form{
    grid-column-start: -2;
}
.newslatter h1{
    grid-column-start: 0;
}

/* making the form a grid to be able able to get the button to wrap*/
.newslatter form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
    align-content: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
/* style the input button on the newslatter*/
.newslatter input{
    min-width: 250px;
    height: 38px;
    border: none;
    margin: 2% 8%;
}
/* styling the buuton on the newslater */
.newslatter button{
    /* min-width: 150px; */
    height: 40px;
    background: var(--HEADER-COLOR);
    color: white;
    height: 38px;
    border: none;
    margin: 0 8%;
    
}

/* styling the languages section */
.languages{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
    margin-inline: auto;
}

/* styling the language section */
.languages section{
    width: 20rem;
    padding: 5px 0 0;
}
.languages figcaption{
    margin: 20px 0;
    text-decoration: bold;
}
.languages img
{
    margin-top: 27px;
    width: 90px;
    height: auto;
}

/* styling the footer  */
footer{
    padding: 30px 0;
    text-align: center;
    background-color: var(--HEADER-COLOR);
    color: var(--TOGGLE-COLOR);
    font-size: max(15.1px, 0.9rem);
    margin-top: 20px;
}

/* styling the h1 inside the main */
.about-main h1{
    text-align: center;
    margin: 0 auto 15px;
    font-size: larger;
}

/* making a particular p tag have background color and a litle styling */
.dark {
    background-color: var(--HEADER-BGCOLOR);
    padding: 20px;
    margin: 25px auto 10px;
    color: var(--TOGGLE-COLOR);
}

/* adding back color and font color to the aside class */
.aside {
    background-color: var(--HEADER-BGCOLOR);
    color: var(--TOGGLE-COLOR);
}
.aside p {
    padding: 0 20px 20px;
}
.aside h1 {
    padding-top: 20px;
}


/* ||styling the service page */

/* giving the form a background color and general styling*/
.about-main form{
    background-color: var(--HEADER-BGCOLOR);
    margin-top: 7px;
    padding: 18px 20px 5px;
    color: var(--TOGGLE-COLOR);
    text-align: center;
    
}
/* styling the h1 in the form */
form h1{
    padding: 2px;
    font-size: 1.17em;
}

/* styling each article on in the section */
.about-main article{
    background-color: #E6E6E6;
    padding: 40px 20px ;
    margin: 10px auto 0;
    border: 1px solid #cccccc;
}

.about-main article h1{
    font-size: 17px;
}

/* styling the form inputs */
.about-main input {
    width: 98%;
    height: 35px;
    border: none;
    margin: 2px auto 10px;
}

.about-main input[type="submit"] {
    background-color: var(--HEADER-COLOR);
    color: var(--TOGGLE-COLOR);
    width: 100%;
    margin-top: 10px;
    height: 40px;
    font-size: 1rem;
    
}

/* ||For small screens */
@media screen and (min-width: 576px) {
    .newslatter {    
        height: 200px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center; 
        align-content: center;
        padding-top: 10px;
        
    }
    .newslatter form {
        display: grid;
        grid-template-columns: auto;
        /* align-self: center; */
        

    }
    .newslatter input{
        min-width: 350px;
        height: 40px;
        border: none;
        margin: 2px auto;
        
    }
    /* styling the buuton on the newslater */
    .newslatter button{
        min-width: 350px;
        height: 40px;
        background: var(--HEADER-COLOR);
        color: white;
        height: 40px;
        border: none;
        margin: 2px auto;        
    } 
}