/* variables */
:root {
    --HEADER-BGCOLOR: #35424A;
    --HEADER-COLOR: #E8491D;
    /* --RED: rgb(158, 13, 13); */
    --HOVER-YELLOW:  yellow;
    --TOGGLE-COLOR:  rgb(255, 255, 255);
    --LANGUAGE-BGCOLOR: #F4F4F4;

}
/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Nanito', sans-serif;      
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
/* making the header and the footer sticky */
header{
    position: sticky;
    top: 0;
}
/* footer{
    position: fixed;
    bottom: 0;
    width: 100%;
} */
/* stling the entire header */
header {
    background-color: var(--HEADER-BGCOLOR);
    border-bottom: 5px solid var(--HEADER-COLOR);
    color: var(--TOGGLE-COLOR);
}

/* making the img, h1 and toggle a grid. to enable them align properly*/
.top-box {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 0.8fr 3fr 0.6fr;
    justify-content: center;
    align-items: center;
    
}
/* styling the img and the h1*/
.top-box img {
    width: 100%;
    height: auto;
    margin-right: auto;
}
header h1 {
    font-size: 1.2rem;
}
.royal {
    color:var(--HEADER-COLOR);
    font-size: 1.6rem;
}

/* styling the toggle */
.toggle-button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* making the toggle 3 dash properly arranged*/
.toggle, .toggle::after, .toggle::before {   
    background-color:var(--TOGGLE-COLOR);
    height: 5px;
    width: 40px;
    border-radius: 2px;
    position: absolute;
    margin-left: auto;
    
}

/* making the toggle start from the same point */
.toggle::before {
    content : ' ';
    transform: translate(-19.5px, -12px);
}
.toggle::after {
    content : ' ';
    transform: translate(-19.5px, 12px);
}

/* styling the nav menu */
nav li{
    padding: 0.7rem;
    border-top: 1px solid var(--TOGGLE-COLOR);
}
nav a{
    display: block;
    text-align: center;  
    text-decoration: none;
    color: whitesmoke;
}

/* hidding the nav menu */
nav{
    margin-top: 3px;
    display: none;
    transform-origin: top center;
    z-index: 1;
}

/* adding dynamic color to h1 on hover */
header:hover{
    color: yellow;
    .royal{
        color:var(--TOGGLE-COLOR);
    }

}

/* styling the toggle on hover */
 :is(header:hover, header:focus-within) .toggle {
    background-color: transparent;
}

:is(header:hover, header:focus-within) .toggle::after {
    transform: translateX(-20px) rotate(45deg);
    background-color: var(--HEADER-COLOR);
}

:is(header:hover, header:focus-within) .toggle::before {
    transform: translateX(-20px) rotate(-45deg);
    background-color: var(--HEADER-COLOR);
} 

/* resizing the img, h1 and toggle on hover */
:is(header:hover, header:focus-within) .top-box {
    grid-template-columns: 0.6fr 3fr 1fr;    
 }

:is(header:hover, header:focus-within) img {
    width: 100%;
    height: auto;
}


/* displaying the nav menu on hover */
:is(header:hover, header:focus-within) nav{
    display: block;
}

/* styling banner */
.banner{
    background-image: url(resources/banner.jpeg);
    background-size: cover;
    min-height: fit-content;
    text-align: center;
    color: var(--TOGGLE-COLOR);
    font-family: 'Nanito', sans-serif;
    
}
.overlay{
    background-color: rgba(0,0,0,0.7);
    min-height: fit-content;
    /* height: 300px; */
    padding-top: 50px 0 ;
}
.banner h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 2.9rem 0 1.1rem;
}
.banner p {
    padding: 20px 5px 30px;
    font-size: 18px;    
}


/* styling newslater */
.New_section {
    background-color: var(--HEADER-BGCOLOR);
}
.newslatter {    
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.5fr));
    grid-column-gap: 6px;
    justify-content: center; 
    align-content: center;
}

/* sthing the h1 in the newslater  */
.newslatter h1{
    color: var(--TOGGLE-COLOR);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 0  0;
}

/* making the form in the newslatter start from the right */
.newslatter form{
    grid-column-start: -2;
}
.newslatter h1{
    grid-column-start: 0;
}

/* making the form a grid to be able able to get the button to wrap*/
.newslatter form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
    align-content: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
/* style the input button on the newslatter*/
.newslatter input{
    min-width: 250px;
    height: 40px;
    border: none;
    margin: 2% 8%;
    

}
/* styling the buuton on the newslater */
.newslatter button{
    /* min-width: 150px; */
    height: 40px;
    background: var(--HEADER-COLOR);
    color: white;
    height: 40px;
    border: none;
    margin: 0 8%;
    
}

/* styling the languages section */
.languages{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--LANGUAGE-BGCOLOR);
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
}

/* styling the language section */
.languages section{
    width: 20rem;
    padding: 20px 0;
}
.languages figcaption{
    margin: 20px 0;
}
.languages img
{
    width: 90px;
    height: auto;
}

/* styling the footer  */
footer{
    padding: 37px 0;
    text-align: center;
    background-color: var(--HEADER-COLOR);
    color: var(--TOGGLE-COLOR);
    font-size: max(15.1px, 0.9rem);
}

.languages div{
    width: 400px;
}
.languages div:last-child{
    width: 250px;
    justify-self: end;
    background-color: var(--HEADER-BGCOLOR);
    height: fit-content;
}